<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wge100_camera_gazebo_v0" params="name camera_name image_format image_topic_name camera_info_topic_name hfov focal_length frame_id hack_baseline image_width image_height">
    <gazebo reference="${name}_frame">
      <sensor type="camera" name="${name}_sensor">
        <always_on>true</always_on>
        <update_rate>25.0</update_rate>
        <camera>
          <horizontal_fov>${hfov*M_PI/180.0}</horizontal_fov>
          <image>
            <format>${image_format}</format>
            <width>${image_width}</width>
            <height>${image_height}</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
        </camera>
      </sensor>
      <turnGravityOff>true</turnGravityOff>
      <material>PR2/Blue</material>
    </gazebo>
  </xacro:macro>

</robot>
